/* BASIC VALUES */
:root
{
	/* COLORS */
	--basic-red: #EE3643;
	--basic-green: #63A63E;
	--basic-green-light: #00CA74;
	--basic-grey: #3D546F;
	--basic-grey-dark: #32425C;
	--basic-grey-extra-dark: #293449;
	--basic-grey-darkest: #1D2739;
	--basic-greylight: #C5C5C5;
	--basic-greylight-dark: #A9A9A9;
	--basic-background: #F1F5F7;
	--basic-background-button: #F4F4F4;
	--special-yellow: #FFBF47;
	--special-yellowlighten: #FFC047;
	--special-blue: #3BBCE3;
	--special-lilac: #DC91D8;
	--special-greenlight: #8ED78F;
	--special-yellowlight: #FFD180;
	--special-color-white: #F9F5F0;
	--color-success: #5FBB2D;
	--color-error: #BA2732;
	--color-white: #FFF;
	--color-black: #000;
	--color-black-light: #161D29;
	--color-gray-shadow: #405069;
	--color-white-gray: #D7DCDE;
	--color-gray-white: #ABABAB;
	--color-green-shadow: #367315;
	--color-green-dark: #518534;
	--color-black-extra-light: #212A3A;
	--color-extralight-grey: #EAEAEA;
	--color-lightest-grey: #E5E5E5;
	--color-white-dark: #F7F3EC;
	--color-almost-white: #F2F6F8;
  --color-white-half-transparent: rgba(255, 255, 255, 0.5);
  --color-white-almost-transparent: rgba(255, 255, 255, 0.3);
  --color-gray-almost-white: rgba(171, 171, 171, 0.3);
  --color-greylight-almost-transparent: rgba(197, 197, 197, 0.3);
  --color-greylight-dark-almost-transparent: rgba(169, 169, 169, 0.3);
	--color-black-mostly-transparent: rgba(0, 0, 0, 0.15);
	--color-black-almost-transparent: rgba(0, 0, 0, 0.25);

	/* FONTS */
	--cuprum: Cuprum, Arial, sans-serif;
	--pt-sans: 'PT Sans', Arial, sans-serif;
}

/* FONTS */
@font-face
{
	font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: local('Cuprum'),
       url('../fonts/cuprum.woff2') format('woff2'), 
       url('../fonts/cuprum.woff') format('woff');
}

@font-face
{
	font-family: 'Cuprum';
  font-style: italic;
  font-weight: 400;
  src: local('Cuprum Italic'),
       url('../fonts/cuprumitalic.woff2') format('woff2'), 
       url('../fonts/cuprumitalic.woff') format('woff');
}

@font-face
{
	font-family: 'Cuprum';
  font-style: normal;
  font-weight: 700;
  src: local('Cuprum Bold'),
       url('../fonts/cuprumbold.woff2') format('woff2'), 
       url('../fonts/cuprumbold.woff') format('woff');
}

@font-face
{
	font-family: 'Cuprum';
  font-style: italic;
  font-weight: 700;
  src: local('Cuprum Bold Italic'),
       url('../fonts/cuprumbolditalic.woff2') format('woff2'), 
       url('../fonts/cuprumbolditalic.woff') format('woff');
}

@font-face
{
	font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'),
       url('../fonts/ptsans.woff2') format('woff2'), 
       url('../fonts/ptsans.woff') format('woff');
}

@font-face
{
	font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'),
       url('../fonts/ptsansbold.woff2') format('woff2'), 
       url('../fonts/ptsansbold.woff') format('woff');
}

/* GLOBAL STYLES */
*, *::before, *::after 
{
	box-sizing: inherit;
}

html 
{
	height: 100%;
	box-sizing: border-box;
}

img
{
	max-width: 100%;
	height: auto;
}

body
{
	margin: 0;
	padding: 0;
	min-width: 960px;
	font-family: var(--pt-sans);
	font-size: 13px;
	line-height: 24px;
	color: var(--color-black);
	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.hidden
{
  display: none;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}

a
{
	text-decoration: none;
}

.section-title
{
	font-family: var(--cuprum);
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	margin: 0;
}

.section-title2
{
	font-family: var(--cuprum);
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basic-grey-dark);
	margin: 0;
}

.button
{
	font-family: var(--cuprum);
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--color-white);
	background-color: var(--basic-red);
	text-align: center;
	padding-top: 11px;
	padding-bottom: 9px;
}

.button:active
{
	background-color: var(--color-error);
}

.fieldset-title
{
	font-weight: bold;
	font-size: 17px;
	line-height: 30px;
	text-transform: uppercase;
	margin: 0;
}

.title-with-button
{
  background-color: var(--special-color-white);
  display: flex;
  justify-content: space-between;
  padding-left: 28px;
  padding-right: 14px;
  align-items: center;
  min-height: 89px;
  margin-bottom: 20px;
}

.new::after
{
  content: "new";
  display: flex;
  width: 100px;
  height: 30px;
  text-transform: uppercase;
  transform: rotate(45deg);
  background-color: var(--basic-red);
  font-family: var(--cuprum);
  font-size: 14px;
  line-height: 18px;
  position: absolute;
  top: 5px;
  right: -25px;
  padding-left: 5px;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
}

/* CUSTOM STYLES */

/* HEADER */
.header
{
	font-family: var(--cuprum);
	font-size: 18px;
	background-color: var(--basic-background);
  padding-bottom: 60px;
}

.header p
{
	margin: 0;
}

.user-navigation a,
.site-navigation a
{
	color: var(--color-white);
}

.user-navigation a:active
{
	background-color: var(--color-black-light);
	color: var(--color-white-half-transparent);
}

.header .user-navigation
{
	background-color: var(--basic-grey-extra-dark);
	min-height: 42px;
}

.user-navigation .wrapper,
.header .middle-header,
.header .site-navigation,
.header .account-actions-unlogged
{
	display: flex;
}

.header .site-navigation
{
	background-color: var(--basic-grey-dark);
	box-shadow: inset 0px -5px 0px var(--basic-grey-extra-dark);
}

.user-navigation .filled
{
	background-color: var(--basic-red);
}

.user-navigation a
{
	width: 150px;
	padding: 9px;
	padding-left: 44px;
  padding-right: 0;
	display: block;
	position: relative;
}

.user-navigation .bookmarks::before,
.user-navigation .cart::before
{
	content: "";
	position: absolute;
	opacity: 0.3;
	width: 14px;
	height: 16px;
	top: 13px;
	left: 20px;
	background-image: url(../img/icon-bookmark.svg);
	background-repeat: no-repeat;
  display: block;
}

.user-navigation .bookmarks:hover::before,
.user-navigation .cart:hover::before
{
	opacity: 1;
}

.user-navigation .bookmarks:active::before,
.user-navigation .cart:active::before
{
	opacity: 0.3;
}

.user-navigation .cart
{
  padding-left: 36px;
  width: 136px;
  margin-left: 14px;
}

.user-navigation .cart::before
{
	width: 15px;
	height: 15px;
	left: 13px;
	background-image: url(../img/icon-cart.svg);
}

.user-navigation .logo
{
	width: 220px;
	height: 42px;
	padding: 0;
	background-color: var(--basic-red);
	background-image: url(../img/logo-technomart.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	display: block;
	position: relative;
}

.user-navigation .logo:active
{
	background-color: var(--color-error);
}

.user-navigation .logo::after
{
	content: "";
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 220px;
	height: 5px;
	background-color: inherit;
	box-shadow: inset 0px -5px 0px var(--color-black-almost-transparent);
  display: block;
}

.user-navigation .order:active,
.user-navigation .order
{
	background-color: var(--basic-green);
	padding-left: 19px;
}

.user-navigation .order:hover
{
	background-color: var(--color-success);
}

.header .middle-header
{
	padding-top: 42px;
	padding-bottom: 40px;
	padding-left: 30px;
}

.header .short-info
{
	color: var(--basic-red);
	font-style: italic;
	font-size: 16px;
	line-height: 24px;
	width: 197px;
	min-height: 71px;
}

.header .header-contacts
{
	padding-top: 4px;
	margin-left: 93px;
}

.header .phone
{
  border: 3px solid var(--color-white);
  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
	background-position: 36px 10px;
	width: 270px;
	min-height: 45px;
	padding: 4px 42px 5px 71px;
	margin: 0;
	margin-bottom: 3px;
}

.phone a
{
	color: var(--basic-red);
	font-weight: bold;
	font-size: 21px;
	line-height: 30px;
}

.header .address
{
	color: var(--basic-grey-dark);
	font-size: 14px;
	width: 250px;
	min-height: 24px;
	margin: 0 auto;
}

.header .account-actions-unlogged
{
	width: 281px;
	padding: 0;
	margin: 0;
  padding-top: 4px;
  margin-left: 69px;
  min-height: 45px;
  justify-content: space-between;
}

.header .account
{
  margin-left: 51px;
}

.header .account-actions-logged
{
	width: 299px;
	min-height: 45px;
	padding-top: 12px;
	padding-bottom: 8px;
	padding-right: 17px;
	padding-left: 15px;
  margin-bottom: 3px;
  margin-top: 4px;
}

.account-actions-logged .username
{
	margin-right: 12px;
}

.username svg
{
	margin-right: 18px;
}

.username:not(:active):hover path,
.exit:not(:active):hover path
{
	fill: var(--basic-grey);
}

.header .account-options
{
	display: flex;
	min-height: 18px;
	width: 210px;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 auto;
	padding: 0;
}

.account-options li
{
  order: 1;
}

.account-options li:first-of-type
{
  order: -1;
}

.account-options::after
{
  content: "";
	display: block;
  width: 4px;
  height: 4px;
  align-self: center;
  border-radius: 50%;
  background-color: var(--basic-grey-dark);
}

.account-options:hover::after
{
  background-color: var(--basic-red);
}

.header .account-actions-unlogged,
.header .account-options
{
	list-style: none;
}

.account-actions-unlogged a,
.account-actions-logged a
{
	color: var(--color-black);
	background-color: var(--color-white);
	font-size: 21px;
	line-height: 21px;
}

.account-actions-unlogged a:hover
{
	color: var(--basic-red);
}

.account-actions-unlogged .login
{
	width: 121px;
	padding: 12px;
	padding-left: 19px;
	padding-right: 27px;
	display: block;
	position: relative;
}

.login:hover path
{
	fill: var(--basic-grey);
}

.login path,
.login:active path
{
	fill: var(--basic-greylight);
}

.account-actions-unlogged .logout
{
	width: 150px;
	padding: 12px 24px;
	display: block;
}

.header .account-actions-logged
{
	background-color: var(--color-white);
}

.account-options a
{
	color: var(--basic-grey-dark);
	font-size: 16px;
	line-height: 18px;
}

.account-options a:hover
{
	color: var(--basic-red);
}

.account-actions-unlogged a:active,
.account-actions-logged a:active,
.account-options a:active
{
	color: var(--basic-greylight);
}

.header .site-navigation
{
	list-style: none;
	width: 940px;
	min-height: 60px;
	margin: 0;
	align-items: center;
	flex-wrap: wrap;
	padding: 0 26px;
	padding-bottom: 5px;
}

.site-navigation a
{
	padding: 28px;
	padding-top: 16px;
	padding-bottom: 15px;
	display: block;
}

.site-navigation a[href]:hover
{
	background-color: var(--basic-grey-extra-dark);
}

.site-navigation a[href]:active
{
	background-color: var(--basic-grey-darkest);
	color: var(--color-white-half-transparent);
}

.header .search-field
{
	background-color: var(--basic-grey-extra-dark);
	border: 0;
	font: inherit;
  padding-left: 42px;
	border-radius: 0;
	width: 100%;
	height: 100%;
}

.header .search-field-form
{
	width: 270px;
	position: relative;
}

.search-field:not(:focus)::placeholder
{
	color: var(--color-white);
}

.search-field + svg
{
	width: 17px;
	height: 17px;
	position: absolute;
	top: 12px;
	left: 17px;
}

.search-field:not(:focus):not(:hover) + svg
{
	opacity: 0.3;
}

.search-field:focus + svg path
{
	fill: var(--basic-red);
}

.header .search-field:active,
.header .search-field:focus
{ 
  background-color: var(--color-white); 
}

/* MAIN index.html CONTENT */

/* PROMO-BLOCK */
.promo-block
{
  color: var(--color-white);
  font-family: var(--cuprum);
  margin: 59px 0 59px;
}

.promo-block .articles-wrapper
{
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 20px;
}

.promo-block h3
{
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  max-width: 180px;
}

.promo-block article
{
  padding: 20px 0 21px 23px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 123px;
  position: relative;
  overflow: hidden;
}

.promo-block .button-promo
{
  background-color: var(--color-white-almost-transparent);
  display: block;
  padding: 10px;
  width: 135px;
}

.promo-block .button-promo:hover
{
	background-color: var(--color-greylight-almost-transparent);
}

.promo-block .button-promo:active
{
	background-color: var(--color-greylight-dark-almost-transparent);
}

.slider .title-with-paragraph
{
  background-color: var(--color-black-almost-transparent);
  padding-left: 24px;
  padding-top: 24px;
  padding-bottom: 16px;
}

.slider article
{
  padding: 0;
  padding-bottom: 27px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 0;
  display: none;
}

.slider .current
{
  display: flex;
}

.slider h3
{
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 6px;
  max-width: none;
}

.slider p
{
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.slider
{
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 2;
  grid-row-end: span 2;
  position: relative;
}

.slider .next-slide,
.slider .previous-slide
{
  width: 22px;
  height: 40px;
  padding: 0;
  background-image: url(../img/icon-right.svg);
  background-repeat: no-repeat;
  border: 0;
  background-color: transparent;
  bottom: 104px;
  right: 20px;
  position: absolute;
  cursor: pointer;
}

.slider .previous-slide
{
  left: 24px;
  transform: rotate(180deg);
}

.slider .first-slide,
.slider .second-slide
{
  width: 10px;
  height: 10px;
  border: 2px solid var(--color-white);
  background-color: var(--color-white);
  padding: 0;
  border-radius: 50%;
  bottom: 36px;
  right: 295px;
  position: absolute;
  cursor: pointer;
}

.slider .first-slide
{
  left: 295px;
}

.slider .current
{
  background-color: var(--basic-red);
}

.slider .button
{
  width: 192px;
  margin-left: 24px;
}

.slider .promo-perforators
{
  background-color: var(--color-black-extra-light);
  background-image: url(../img/bg-slider-perforators.jpg);
  background-repeat: no-repeat;
}

.slider .promo-drills
{
  background-color: var(--color-black-extra-light);
  background-image: url(../img/bg-slider-drill.jpg);
  background-repeat: no-repeat;
}

.promo-block .promo-materials
{
  background-color: var(--special-yellow);
  background-image: url(../img/icon-materials.svg);
  background-repeat: no-repeat;
  background-position: 213px 31px;
}

.promo-block .promo-tool
{
  background-color: var(--special-blue);
  background-image: url(../img/icon-tool.svg);
  background-repeat: no-repeat;
  background-position: 194px 34px;
}

.promo-block .promo-technique
{
  background-color: var(--special-lilac);
  background-image: url(../img/icon-technique.svg);
  background-repeat: no-repeat;
  background-position: 191px 31px;
}

.promo-block .promo-discounts:not(.hidden)
{
  background-color: var(--special-greenlight);
  background-image: url(../img/icon-discount.svg);
  background-repeat: no-repeat;
  background-position: 196px 27px;
  padding-bottom: 23px;
}

.promo-block .promo-delivery:not(.hidden)
{
  background-color: var(--special-yellowlighten);
  background-image: url(../img/icon-delivery.svg);
  background-repeat: no-repeat;
  background-position: 191px 32px;
  padding-bottom: 22px;
}

/* POPULAR MANUFACTURERS and POPULAR PRODUCTS */
.title-with-button .button
{
  width: 192px;
}

.popular-manufacturers .button
{
  margin-right: 4px;
  margin-top: -2px;
}

.popular-manufacturers,
.popular-items
{
  margin-bottom: 70px;
}

.popular-manufacturers .popular-manufacturers-list
{
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 220px);
  gap: 20px;
}

.popular-items .items-list
{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.popular-manufacturers-list .manufacturer-item
{
  border: 1px solid var(--color-extralight-grey);
}

.manufacturer-item a
{
	min-height: 145px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.popular-manufacturers-list .manufacturer-item:hover
{
  box-shadow: 0px 4px 20px var(--color-black-mostly-transparent);
}

.popular-manufacturers-list .manufacturer-item:active
{
  opacity: 0.5;
}

/* SERVICES */
.services
{
	background-color: var(--basic-background);
}

.services .wrapper
{
	padding-top: 64px;
}

.services .services-slider
{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	min-height: 285px;
}

.services .services-description
{
	width: 620px;
	min-height: 285px;
}

.services-description div
{
	min-height: 285px;
}

.services .section-title
{
	margin-bottom: 25px;
}

.services p
{
	margin: 0;
	margin-bottom: 70px;
	width: 395px;
}

.services .services-list
{
	list-style: none;
	margin: 0;
	padding: 0;
  width: 240px;
  position: relative;
}

.services .services-list::after
{
  background-image: url(../img/services-shadow.png);
  background-repeat: no-repeat;
  content: "";
  display: block;
  width: 10px;
  height: 279px;
  top: -45px;
  right: 0;
  position: absolute;
}

.services-description .section-title2
{
	margin-bottom: 30px;
}

.services-description p
{
	width: 340px;
	margin-bottom: 0;
}

.services-list a
{
	background-color: var(--basic-grey-dark);
	color: var(--color-white);
	font-family: var(--cuprum);
	font-weight: bold;
	font-size: 21px;
	line-height: 30px;
  box-shadow: 0px 1px 0px var(--basic-grey-extra-dark), inset 0px 1px 0px var(--color-gray-shadow);
	display: block;
	padding-left: 22px;
	padding-top: 14px;
  padding-bottom: 17px;
  margin-bottom: 1px;
}

.services-list a:not(.active):hover
{
	background-color: var(--basic-grey-extra-dark);
}

.services-list .active
{
	background-color: var(--color-white);
	color: var(--basic-grey-dark);
	box-shadow: 0px 1px 0px var(--color-white), inset 0px 1px 0px var(--color-white);
}

.services .service-delivery
{
  background-image: url(../img/bg-services-delivery.png);
  background-repeat: no-repeat;
  background-position: 151px 22px;
  margin-top: -2px;
  display: none;
}

.service-delivery p
{
  width: 280px;
}

.service-delivery p:last-of-type
{
  width: 180px;
}

.services .service-guarantee
{
  background-image: url(../img/bg-services-guarantee.png);
  background-repeat: no-repeat;
  background-position: 239px 0;
  display: none;
}

.services .service-credit
{
  background-image: url(../img/bg-services-credit.png);
  background-repeat: no-repeat;
  background-position: 165px 0;
  display: none;
}

.services .current
{
  display: block;
}

/* ABOUT US and CONTACTS*/
.two-sections
{
	display: flex;
	justify-content: space-between;
	padding: 70px 0;
}

.two-sections .section-title
{
	margin: 0;
	margin-bottom: 24px;
}

.two-sections p
{
	margin: 0;
}

.contacts p:first-of-type
{
	margin-bottom: 32px;
}

.about-us p:first-of-type
{
	margin-bottom: 25px;
}

.two-sections .about-us
{
	width: 480px;
	min-height: 356px;
}

.about-us .button
{
	width: 220px;
	display: block;
}

.about-us .logistic-companies
{
	list-style: none;
	font-family: var(--cuprum);
	font-size: 18px;
	margin: 0;
	padding: 0;
	margin-top: 3px;
	padding-left: 37px;
	margin-bottom: 20px;
}

.logistic-companies li:not(:first-of-type)
{
	margin-top: 12px;
}

.logistic-companies li
{
	position: relative;
}

.logistic-companies li::before
{
	content: "";
	width: 25px;
	height: 2px;
	position: absolute;
	background-color: var(--basic-red);
	left: -37px;
	top: 12px;
}

.two-sections .contacts
{
	width: 300px;
	min-height: 356px;
}

.contacts p
{
	width: 180px;
}

.contacts .map
{
	margin-bottom: 18px;
	display: block;
}

.contacts .button
{
	display: block;
}

/* MAIN catalog.html CONTENT */

/* BREADCRUMBS */
.breadcrumbs
{
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	padding-top: 18px;
  margin-bottom: 18px;
  align-items: center;
  flex-wrap: wrap;
}

.breadcrumbs-navigation
{
	grid-column-start: 1;
	grid-column-end: -1;
}

.breadcrumbs li
{
  margin-right: 41px;
  position: relative;
}

.breadcrumbs li:not(:last-of-type)::after
{
  position: absolute;
  content: "";
  right: -25px;
  top: 50%;
  margin-top: -6px;
  display: block;
  width: 8px;
  height: 12px;
  background-image: url(../img/icon-right-small.svg);
  background-repeat: no-repeat;
}

.breadcrumbs a
{
	text-transform: uppercase;
  color: var(--color-black);
  display: block;
  width: 100%;
  height: 100%;
}

.main-title
{
	color: var(--basic-grey-dark);
	font-family: var(--cuprum);
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
  text-transform: uppercase;
	background-color: var(--color-almost-white);
	padding: 29px;
	margin: 0;
	margin-bottom: 20px;
	grid-column-start: 1;
	grid-column-end: -1;
}

.breadcrumbs .home
{
  display: block;
  width: 14px;
  height: 12px;
  background-image: url(../img/icon-home.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* CATALOG LAYOUT */
.catalog-wrapper
{
	display: grid;
	grid-template-columns: 220px 700px;
	grid-column-gap: 20px;
}

/* FILTER */
.filter fieldset
{
	font-size: 15px;
	line-height: 19px;
  text-transform: uppercase;
	border: 0;
	margin: 0;
	padding: 0;
}

.filter fieldset:not(:last-of-type)::after
{
  content: "";
  display: block;
  height: 1px;
  width: 220px;
  background-color: var(--color-lightest-grey);
  margin-bottom: 16px;
}

.filter ul
{
	list-style: none;
}

.filter .button
{
	font-family: var(--pt-sans);
	font-size: 13px;
	color: var(--color-black);
	background-color: var(--color-white);
	border: 1px solid var(--color-lightest-grey);
	width: 220px;
	text-align: center;
	padding: 10px;
}

.price .fieldset-title
{
	margin-bottom: 11px;
}

.price .range-inputs
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 25px;
}

.price input
{
  border: 0;
  background-color: var(--color-white-dark);
  font-size: 17px;
	line-height: 18px;
	width: 95px;
	text-align: center;
  padding: 10px;
}

.price .range
{
	background-color: var(--color-white-dark);
	width: 220px;
	height: 80px;
	margin-bottom: 9px;
}

.range-controls 
{
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px;
}

.range-controls .scale 
{
  height: 2px;
  background: var(--color-white-gray);
}

.range-controls .bar 
{
  width: 152px;
  height: 2px;
  background: var(--basic-green-light);
}

.range-controls .toggle 
{
  position: absolute;
  top: 30px;
  left: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 8px solid var(--color-white);
  background-color: var(--color-gray-white);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--color-gray-almost-white);
  cursor: pointer;
}

.range-controls .toggle-min 
{
  left: 18px;
}

.range-controls .toggle-max 
{
  left: 160px;
}

.manufacturers .fieldset-title
{
	margin-bottom: 15px;
}

.manufacturers .manufacturers-list,
.power .power-supply-list
{
	margin: 0;
  padding: 0;
	padding-left: 35px;
  margin-bottom: 26px;
  margin-top: 2px;
}

.manufacturers-list label,
.power-supply-list label
{
	position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

input[type="checkbox"] + label::before
{
	content: "";
  position: absolute;
  left: -35px;
  top: -2px;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

input[type="checkbox"]:checked + label::before
{
  background-image: url(../img/checkbox-on.svg);
}

input[type="radio"] + label::before
{
	content: "";
  position: absolute;
  left: -35px;
  top: -2px;
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

input[type="radio"]:checked + label::before
{
  background-image: url(../img/radio-on.svg);
}

.manufacturers-list li,
.power-supply-list li
{
  min-height: 23px;
	margin-bottom: 16px;
}

.power .fieldset-title
{
	margin-bottom: 21px;
}

.power .power-supply-list
{
	margin-bottom: 34px;
}

/* SORT */
.sort
{
  text-transform: uppercase;
	background-color: var(--color-white-dark);
	display: flex;
	align-items: center;
	margin-bottom: 28px;
}

.filter h2,
.sort h2
{
	font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
	background-color: var(--color-white-dark);
	padding: 10px;
	padding-left: 20px;
  margin: 0;
  margin-right: 130px;
}

.filter h2
{
	padding-left: 18px;
  margin-bottom: 13px;
  margin-right: 0;
}

.sort ul
{
	list-style: none;
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 0;
}

.sort .sort-by
{
  margin-right: 45px;
  width: 355px;
}

.sort-by a
{
  color: var(--color-black);
  opacity: 0.3;
  border-bottom: 1px dotted var(--basic-red);
}

.sort-by a:not(.active):hover
{
  opacity: 1;
  border-bottom: 1px solid var(--basic-red);
}

.sort-by a:not(.active):active,
.sort-by .active
{
  color: var(--basic-red);
  opacity: 1;
  border: 0;
}

.sort-button path
{
  fill: var(--basic-greylight);
}

.sort-button:not(.active):hover path
{
  fill: var(--color-black);
}

.active path,
.sort-button:not(.active):active path
{
  fill: var(--basic-red);
}

.sort-from-to
{
  width: 43px;
}

.sort-to-bigger svg
{
  transform: rotate(180deg);
}

/* CATALOG (for index.html too)*/
.items-list
{
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: repeat(3, 220px);
	grid-row-gap: 18px;
	grid-column-gap: 20px;
	margin-bottom: 48px;
}

.items-list .item
{
	border: 1px solid var(--color-extralight-grey);
	width: 220px;
	min-height: 318px;
  padding-bottom: 21px;
  position: relative;
  overflow: hidden;
}

.items-list .item:hover
{
	box-shadow: 0px 4px 20px var(--color-black-mostly-transparent);
}

.item .item-actions
{
  width: 100%;
  min-height: 179px;
	padding-top: 38px;
	position: absolute;
	background-color: var(--color-white);
	top: 0;
	left: 0;
  display: none;
}

.item .item-picture
{
  width: 100%;
  min-height: 184px;
  display: flex;
  justify-content: center;
  align-items: center;
	margin-top: -5px;
	margin-left: -5px;
}

.item:hover .item-actions
{
	display: block;
}

.item h3
{
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	text-align: center;
	margin: 0 auto;
  margin-bottom: 8px;
  width: 160px;
}

.item p
{
	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: var(--color-white);
	margin: 0;
}

.item .old-price
{
	text-decoration: line-through;
	color: var(--basic-greylight-dark);
  margin-bottom: 13px;
  min-height: 18px;
}

.item .price
{
  padding: 10px 0 10px;
  padding-left: 10px;
	width: 120px;
	background-color: var(--basic-red);
	display: block;
  margin-left: 45px;
  position: relative;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.item .price::after
{
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: -38px;
  border: 19px solid transparent;
  border-left: 19px solid var(--basic-red);
}

.item .button-buy
{
	background-color: var(--basic-green);
	box-shadow: inset 0px -3px 0px var(--color-green-shadow);
  border-radius: 2px;
	display: block;
	width: 135px;
  padding: 10px 0 10px;
  padding-left: 10px;
	margin: 0 auto;
  margin-bottom: 10px;
  position: relative;
}

.item .button-buy::before
{
  width: 15px;
  height: 15px;
  opacity: 0.3;
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: 30px;
  background-image: url(../img/icon-cart.svg);
}

.item .button-buy:hover
{
	background-color: var(--color-success);
}

.item .button-buy:active
{
	background-color: var(--color-green-dark);
}

.item .button-to-bookmarks
{
	color: var(--basic-grey-dark);
	background-color: var(--color-white);
	border: 3px solid var(--basic-green);
	border-radius: 2px;
	width: 135px;
	padding: 7px 0 6px;
	margin: 0 auto;
	display: block;
}

.item .button-to-bookmarks:hover
{
	border: 3px solid var(--basic-grey-dark);
}

.item .button-to-bookmarks:active
{
	opacity: 0.5;
}

/* PAGINATION */
.catalog .pagination
{
	display: flex;
	justify-content: flex-start;
	margin-bottom: 59px;
}

.pagination .button
{
	font-family: var(--pt-sans);
	border: 1px solid var(--color-lightest-grey);
	border-radius: 2px;
	font-size: 13px;
	color: var(--color-black);
	background-color: var(--color-white);
  padding: 10px 15px;
  padding-bottom: 8px;
	margin-right: 10px;
}

.pagination .button:last-of-type
{
	padding-left: 31px;
	padding-right: 31px;
}

.pagination .active
{
	border: 0;
	color: var(--color-white);
	background-color: var(--basic-red);
}

.pagination .button:not(.active):hover
{
	border: 1px solid var(--basic-greylight);
}

.pagination .button:not(.active):active
{
	border: 1px solid var(--basic-red);
}

/* A FEW WORDS */
.few-words
{
	background-color: var(--basic-background);
	padding-top: 64px;
	padding-bottom: 68px;
}

.few-words .section-title
{
	margin-bottom: 23px;
}

.few-words p
{
  margin: 0;
  line-height: 25px;
}

/* FOOTER */
.footer
{
	background-color: var(--basic-grey-dark);
}

.footer-top .wrapper
{
	display: flex;
	justify-content: space-between;
	min-height: 193px;
}

.footer-top .footer-top-contacts
{
	width: 325px;
}

.footer-top-contacts .logo
{
	width: 220px;
	height: 62px;
	padding: 0;
	background-color: var(--basic-red);
	background-image: url(../img/logo-technomart-big.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	display: block;
	position: relative;
}

.footer-top-contacts .logo:active
{
	background-color: var(--color-error);
}

.footer-top-contacts .logo::after
{
	content: "";
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 220px;
	height: 5px;
	background-color: inherit;
	box-shadow: inset 0px -5px 0px var(--color-black-almost-transparent);
  display: block;
}

.footer-top .footer-top-navigation
{
	width: 546px;
}

.footer-top .contacts
{
	margin: 0;
	margin-top: 28px;
	padding-left: 4px;
}

.footer-top-navigation ul
{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

.footer-top-navigation .site-navigation-footer
{
	margin-top: 37px;
	margin-bottom: 34px;
}

.footer-top-navigation .promo-navigation
{
	padding-left: 23px;
}

.footer p,
.footer a
{
	font-family: var(--cuprum);
	font-size: 18px;
	color: var(--color-white);
}

.footer a[href]:hover
{
	text-decoration: underline;
}

.footer a[href]:active
{
	color: var(--color-white-half-transparent);
	text-decoration: none;
}

.footer ul
{
	list-style: none;
}

.promo-navigation a[href]{
	color: var(--special-yellow);
}

.promo-navigation a[href]:active{
  color: var(--special-yellowlight);
  opacity: 0.5;
}

.footer .footer-bottom
{
	background-color: var(--basic-grey-extra-dark);
}

.footer-bottom .wrapper
{
	display: flex;
	min-height: 107px;
	align-items: center;
	padding-left: 2px;
}

.footer-bottom .copyrights
{
	width: 240px;
	margin-right: 145px;
}

.footer-bottom .feedback
{
	width: 137px;
	margin-right: 51px;
}

.footer-bottom .developer
{
	width: 100px;
}

.footer-bottom p,
.footer-bottom a
{
	font-size: 16px;
	line-height: 18px;
	margin: 0;
	display: block;
}

.footer-bottom a
{
	color: var(--special-yellow);
}

.footer-bottom a[href]:active
{
	color: var(--basic-red);
}

.social a[href]
{
	background-color: var(--color-black-extra-light);
}

.social a[href]:hover,
.social a[href]:active
{
	background-color: var(--basic-red);
}

.footer-bottom .social
{
	margin-right: 118px;
	padding-top: 4px;
	display: flex;
}

.social a
{
	border-radius: 50%;
	text-decoration: none;
	width: 44px;
	height: 44px;
	background-image: url(../img/icon-vk.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin-right: 2px;
}

.social .facebook
{
	background-image: url(../img/icon-fb.svg);
}

.social .instagram
{
	background-image: url(../img/icon-insta.svg);
	margin-right: 0;
}

/* POP UPS */
.button-close
{
  position: absolute;
  top: 14px;
  right: 11px;
  background-image: url(../img/icon-close.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  border: 0;
  width: 21px;
  height: 21px;
  display: block;
}

/* FEEDBACK */

.popup-feedback
{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -310px;
  margin-top: -215px;
  background-color: var(--color-white);
  width: 620px;
  min-height: 430px;
  border-top: 7px solid var(--basic-red);
  box-shadow: 0px 4px 20px var(--color-black-mostly-transparent);
}

.popup-feedback .container
{
  width: 460px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 39px;
  justify-content: space-between;
  margin: 0 auto;
}

.popup-feedback p
{
  margin: 0;
  width: 220px;
  margin-bottom: 13px;
}

.popup-feedback p:last-of-type
{
  width: 100%;
}

.popup-feedback input,
.popup-feedback textarea
{
  width: 100%;
  border-radius: 2px;
  border: 2px solid var(--basic-greylight);
  padding: 7px 8px 7px 12px;
}

.popup-feedback textarea
{
  min-height: 114px;
  max-width: 100%;
}

.popup-feedback label
{
  font-family: var(--cuprum);
  font-size: 18px;
  line-height: 24px;
  display: block;
	margin-bottom: 11px;
	cursor: pointer;
}

.popup-feedback .button-wrapper
{
  background-color: var(--basic-background-button);
  width: 100%;
  min-height: 112px;
  padding: 37px 80px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.popup-feedback .button
{
  border: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* MAP */

.popup-map
{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -472px;
  margin-top: -225px;
  background-color: var(--color-white);
  width: 943px;
  min-height: 449px;
  border-top: 7px solid var(--basic-red);
  box-shadow: 0px 4px 20px var(--color-black-mostly-transparent);
}

.popup-map .button-close
{
  top: 10px;
  right: 10px;
}

.popup-map iframe
{
	margin-bottom: -8px;
	border: 0;
}

/* ADDED TO CART */
.popup-added-to-cart
{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -310px;
  margin-top: -141px;
  background-color: var(--color-white);
  width: 620px;
  min-height: 282px;
  border-top: 7px solid var(--basic-red);
	box-shadow: 0px 4px 20px var(--color-black-mostly-transparent);
	padding-top: 66px;
}

.popup-added-to-cart .button-close
{
  top: 11px;
}

.popup-added-to-cart .container
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
	margin: 0 auto;
	width: 394px;
}

.popup-added-to-cart p
{
	margin: 0 auto;
	width: 270px;
	font-family: var(--cuprum);
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	position: relative;
}

.popup-added-to-cart p::before
{
	content: "";
	display: block;
	border-radius: 50%;
	width: 66px;
	height: 66px;
	background-color: var(--basic-green);
	background-image: url(../img/icon-mark.svg);
	background-repeat: no-repeat;
	position: absolute;
	left: -88px;
	top: -20px;
}

.popup-added-to-cart .button-wrapper
{
  background-color: var(--basic-background-button);
  width: 100%;
  min-height: 112px;
  padding: 37px 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

.popup-added-to-cart .button
{
  border: 0;
  width: 192px;
  cursor: pointer;
}

.popup-added-to-cart .button:last-child
{
	background-color: var(--color-white);
	color: var(--color-black);
}